
afs_proxy.opensdf
afs_proxy.sdf
afs_proxy/afs_proxy.vcxproj.user
/Debug
/afs_proxy/Debug
/afs_proxy/x64
/x64
/ipch
afs_proxy.sln.docstates.suo
afs_proxy.suo
afs_proxy/afs_proxy.vcxproj.filters
/xml_test_parser/x64
/xml_test_parser/Debug
*.obj
*.user
*.sdf
*.suo
*.manifest
*.tlog
*.rc
*.lastbuildstate
*.idb
*.pdb
*.res
*.ilk