[submodule "libs/poco"]
	path = libs/poco
	url = git@github.com:keyz182/Poco-1.4.3.git
[submodule "libs/boinc_depends"]
	path = libs/boinc_depends
	url = git@github.com:keyz182/BOINC_Depends_Win_VS2010_7_0.git
[submodule "libs/boinc"]
	path = libs/boinc
	url = git@github.com:keyz182/BOINC-7.0.git
